"*":
  core:
    audioBeep: false
    telemetryConsent: "no"
  "exception-reporting":
    userId: "8130bf44-17db-46c8-a052-92c3c4fd9476"
  kite:
    showWelcomeNotificationOnStartup: false
  welcome:
    showOnStartup: false
